{% extends 'base.html' %}
{% block content %}
<div class="max-w-7xl mx-auto mt-4">

  <div class="relative overflow-hidden rounded-xl shadow-lg">

    <!-- Slides -->
    <div class="flex transition-transform duration-700" id="carousel">

      <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819"
           class="w-full h-64 object-cover">

      <img src="https://images.unsplash.com/photo-1507874457470-272b3c8d8ee2"
           class="w-full h-64 object-cover">

      <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30"
           class="w-full h-64 object-cover">

    </div>

  </div>

</div>
<!-- HERO BANNERS -->
<div class="max-w-7xl mx-auto mt-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <img src="https://source.unsplash.com/800x400/?concert"
         alt="Concert"
         class="rounded-xl hover:scale-105 transition duration-300">

    <img src="https://source.unsplash.com/800x400/?festival"
         alt="Festival"
         class="rounded-xl hover:scale-105 transition duration-300">

    <img src="https://source.unsplash.com/800x400/?stage"
         alt="Stage"
         class="rounded-xl hover:scale-105 transition duration-300">

  </div>
</div>

<!-- RECOMMENDED -->
<div class="max-w-7xl mx-auto mt-8 px-2">
  <h2 class="text-2xl font-bold mb-4">Recommended Events</h2>

  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-5">

    {% for event in events %}
    <div class="bg-white rounded-xl shadow hover:shadow-xl transition duration-300">

      <div class="relative">
        <img src="{{ event.image }}"
             class="rounded-t-xl h-48 w-full object-cover">

        <!-- Wishlist -->
        <a href="/wishlist/{{ event.id }}/"
           class="absolute top-2 right-2 bg-white p-2 rounded-full shadow">
          {% if event.id in wishlist %}
            ❤️
          {% else %}
            🤍
          {% endif %}
        </a>
      </div>

      <div class="p-3">
    <h3 class="font-semibold text-sm">{{ event.title }}</h3>
    <p class="text-gray-500 text-xs">📅 {{ event.date }}</p>
    <p class="text-gray-400 text-xs">📍 {{ event.location }}</p>
    <p class="text-red-500 text-sm font-bold">₹{{ event.price }}</p>
</div>

    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}