{% extends 'base.html' %}
{% block title %}Login - BookMyShowPro{% endblock %}

{% block content %}

<section class="login-page">

<div class="login-card">

    <div class="login-header">
        <h1>BookMyShowPro</h1>
        <p>Enter your email or phone to receive a one-time code.</p>
    </div>

    {% if form.non_field_errors %}
        <div class="field-error">
            {{ form.non_field_errors|join:", " }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <label>
                {{ field.label }}
                {{ field }}

                {% if field.errors %}
                    <span class="field-error">
                        {{ field.errors|join:", " }}
                    </span>
                {% endif %}
            </label>
        {% endfor %}

        <button class="btn login-btn" type="submit">
            Login
        </button>
    </form>

    <p class="auth-note">
        New here?
        <a href="{% url 'register' %}">
            Register
        </a>
    </p>

</div>

</section>
{% endblock %}
